
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom: 0px;
  overflow:hidden;
}

/*titolo 1*/
h1 {
  text-align: center;
  font-family: "Arial";
  color: rgb(11, 11, 11);
}
/*titolo 2*/
h2 {
  text-align: center;
  font-family: "Arial";
  color: rgba(6, 5, 5, 0.57);
}

/*per inserire le info*/
label {
  display: inline-block;
  width: 100px; /* Regola questa larghezza a seconda delle tue esigenze */
  text-align: right;
  margin-right: 10px;
}

input[type="text"], input[type="password"] {
  width: 200px; /* Regola questa larghezza a seconda delle tue esigenze */
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}

th, td {
  background-color: #96D4D4;
}

/*posizione immagine unive pagina iniziale*/
.center-image {
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -140%);
  width: 230px;
  height: 100px;
}

/* gestisce sfondo */
.content {
  background-image: url('/static/images/sfondoHome.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position:fixed;
  background-color: #e0dede;
  padding: 10px;
  top: 100px;
  bottom:00px;
  left:0px;
  right:0px;
  overflow:auto;

}

.titlepage{
  top: 110px;
  text-align: center;
  font-size: 35px;
  background-color: #606060;
}

/* gestisce il titolo UNIVE sopra */
.header {
  background-color:#F08080;
  text-align: center;
  position:absolute;
  top:0px;
  left:0px;
  height:50px;
  right:0px;
  overflow:hidden;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header.h1{
  margin:auto;
}

/* gestisce il menu sopra */
.topnav {
  overflow: hidden;
  background-color: hwb(0 29% 47%);
  position: absolute;
  left: 0px;
  right: 0px;
  top: 50px;
  height: 30;
  z-index: 1;

}

/* gestisce testo barra sopra */
.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* Change color on hover */
.topnav a:hover {
  background-color: #f6f6f6;
  color: black;
}


/* gestisce la barra sotto */
.footer {
position: fixed;
bottom: 0px;
left: 0px;
right: 0px;
height: 50px;
background:#F08080;
flex-direction: row;
display: flex;
justify-content:space-around;
z-index: 2;
}

/* gestisce il testo della barra sotto */
.footer a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: auto;
  z-index: 2;
}
.footer a:hover {
  background-color: #ddd;
  color: black;
}

/*---------settings admin-----------------*/

.tabedifici{
  float: left;
  padding:20px;
}

.tabaule{
  float: left;
  padding:20px;
}

.tabcorsi{
  float:left;
  padding: 20px;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: relative;
  width: 300px;
  
  border: 3px solid #f1f1f1;
  z-index: 9;
}


/* Add styles to the form container */
.form-container {
  max-width: 300px;
  
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text] {
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something 
.form-container input[type=text]:focus, {
  background-color: #ddd;
  outline: none;
}
*/
/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


