{% extends "base.html"%}
    {%block menu%}
        <a href="/login/private/admin/roles">tipi account</a>
        <a href="/login/private/lezioni">Prenota aula per lezioni</a>
        <a href="/login/private/admin/edifici">Edifici</a>
        <a href="/login/private/admin/aule">Aule</a>
        <a href="/login/private/corsi">Corsi</a>
    {%endblock%}
    {%block title%}
        <h1> {{value}}</h1>
    {%endblock%}
    {%block content%}
    <head>  
        <link rel="stylesheet" href="{{url_for('static', filename='calendarjs.css')}}" />
        <script src="{{url_for('static', filename='calendarjs.js')}}"></script>
    </head>

    <body>
        
        <div class="contents">
            <center>
                <div id="myCalendar" style="max-width: 800px;">
                <p>Some data that should be cleared.</p>
                </div>
                
            </center>
			
		    
            </div>
        
    </body>


    {%endblock%}