{% extends "base.html"%}
    {%block menu%}
       
    {%endblock%}
    {%block title%}
        <h1> {{value}}</h1>
    {%endblock%}
    {%block content%}
    
    <body>
        <div class="tabaule">
            <table class="table table-striped">
                <tr>
                    <th> codaula </th>
                    <th> capienza </th>
                    <th> edificio </th>
                    <th> piano </th>
                </tr> 
                <tbody  class id="AuleTab"> 
                </tbody>
            </table>
            <button class="open-button" onclick="openForm('auform')">Aggiungi aula</button>
            <div class="form-popup" id="auform">
               
                <form method="POST" class="form-container" id="aform">
                    <label for="codaula"><b>codaula</b></label><br>
                    <input type="number" placeholder="Inserire codice" name="codaula" required>
                        <br>
                    <label for="capienza"><b>capienza</b></label><br>
                    <input type="number" placeholder="Inserire capienza" name="capienza" required>
                        <br>
                    <label for="edificio"><b>edificio</b></label><br>
                    <input type="text" placeholder="inserire edificio appartenenza" name="edificio" required>
                        <br>
                    <label for="piano"><b>piano</b></label><br>
                    <input type="number" placeholder="inserire piano" name="piano" required>

                    <button type="submit"  class="btn">Aggiungi</button>
                    <button type="button" class="btn cancel" onclick="closeForm('auform')">Close</button>
                </form>
            </div>
        </div>
    </body>

<script type="text/javascript">
     var aule = decodeHtml('{{aule}}');
    var jaule = JSON.parse(aule);
    console.log(jaule);
    //fine variabili
    //chiamate
    tab_aule(jaule)
    //funzioni  
    function tab_aule(data){
        var table = document.getElementById('AuleTab');

        for (var i = 0; i < data.length; i++){
        var row = `<tr>
                        <td>${data[i].codaula}</td>
                        <td>${data[i].capienza}</td>
                        <td>${data[i].edificio}</td>
                        <td>${data[i].piano}</td>
                        
                  </tr>`
        
        table.innerHTML += row

        }
       
    }

    function decodeHtml(html) {
            var txt = document.createElement("textarea");
            txt.innerHTML = html;
            return txt.value;
    }

</script>
{%endblock%}
