<!---->
{% extends "base.html"%}
    {%block menu%}
    <a href="">Home prof</a>
    <a href="creazioneProve">crea prove</a>
    <a href="regVotoProve">Reg Prove</a>
    <a href="creazioneEsami">crea esame</a>
    <a href="regEsame">reg esame</a>
    <a href="risAppello">Risultati appello</a>
    
    {%endblock%}
    {%block title%}
    <h5>Aggiungi una nuova prova:</h5>
    {%endblock%}
    {%block content%}
        <center>
        {% if prove %}
        <table class="table table-striped">
            <tr>
              <th> Codice Prova </th>
              <th> Nome prova </th>
              <th> Data prova </th>  
            </tr> 
            <tbody  class id="ProveID"> 
            </tbody>
        </table><br>

        {% else %}
        {% endif %}
       

        <form method="POST" class="form-container" name="provaform" style="max-width: 600px;">
            <label for="codprova" style="white-space: nowrap; width: 150px;"><b>Codice Prova</b></label>
            <input type="text" placeholder="Inserire codice della prova" name="codprova" required>
            <label for="nomeprova"><b>Nome Prova</b></label>
            <input type="text" placeholder="Inserire nome della prova" name="nomeprova" required>
            <label for="esame"><b>Esame</b></label>
            <input type="text" placeholder="Inserire codice esame" name="esame" required>
            <label for="descrizione" style="white-space: nowrap; width: 150px;"><b>Descrizione Prova:</b></label>
            <textarea placeholder="Inserire descrizione della prova" name="descrizione" rows="4" cols="50" required></textarea><br>
            <label for="durata" style="white-space: nowrap; width: 150px;"><b>Durata Prova</b></label>
            <input type="text" placeholder="Inserire durata della prova" name="durata" required>
            <label for="tipoProva" style="white-space: nowrap; width: 150px;"><b>Tipologia Prova</b></label>
            <input type="text" placeholder="Inserire tipologia della prova" name="tipoprova" required>
            <label for="completo"><b>Completo</b></label>
            <input type="checkbox" name="completo">
            <label for="dataprova" style="white-space: nowrap; width: 150px;"><b>Data Prova</b></label>
            <input type="datetime-local" name="dataprova" required>
            <label for="datascadenza" style="white-space: nowrap; width: 150px;"><b>Data Scadenza</b></label>
            <input type="datetime-local" name="datascadenza" required>
            <label for="richiestoSuperamentoCodProva" style="white-space: nowrap; width: 150px;"><b>Richiesto Superamento</b></label>
            <input type="text" placeholder="Inserire codice prova richiesta passata per potersi iscrivere alla prova" name="richiestosuperamentododprova">
            <br>
            <button type="submit" class="btn">Aggiungi</button>
            <button type="button" class="btn cancel" onclick="closeForm('provaform')">Annulla</button>
        </form>
        <center>


            <script type="text/javascript">
                var notjson = decodeHtml('{{prove}}');
                var json = JSON.parse(notjson);
                //
                //console.log( " jcorsiii!!" + jcorsi);
                //fine variabili
                //chiamate
            
                tab_corsi(json);
            
                //funzioni  
                function tab_corsi(data){
                    console.log( data);
                    var table = document.getElementById('ProveID');
                    for (var i = 0; i < data.length; i++){
                    var row = `<tr>
                                <td>${data[i].codprova}</td>
                                <td>${data[i].nomeprova}</td>
                                <td>${data[i].dataprova}</td>
                              </tr>`
                    
                    table.innerHTML += row
            
            
                    }  
                }
            
                function decodeHtml(html) {
                        var txt = document.createElement("textarea");
                        txt.innerHTML = html;
                        return txt.value;
                }
            
            
            </script>
    {%endblock%}