<!---->
{% extends "base.html"%}
    {%block menu%}
        <a href="/login/private/professore">Home prof</a>
    {%endblock%}
    {%block title%}
    <h5>Aggiungi una nuova prova:</h5>
    {%endblock%}
    {%block content%}
    <!--INSERT INTO Prove (codProva, nomeProva, esame, docenteReferente, descrizione, durata, tipoProva, dataProva, dataScandenza, richestoSuperamentoCodProva, completo)
VALUES-->
<form method="POST" class="form-container" name="provaform" style="max-width: 600px;">
    <label for="codprova" style="white-space: nowrap; width: 150px;"><b>Codice Prova</b></label>
    <input type="text" placeholder="Inserire codice della prova" name="codprova" required>
    <label for="nomeprova"><b>Nome Prova</b></label>
    <input type="text" placeholder="Inserire nome della prova" name="nomeprova" required>
    <label for="esame"><b>Esame</b></label>
    <input type="text" placeholder="Inserire codice esame" name="esame" required>
    <label for="descrizione" style="white-space: nowrap; width: 150px;"><b>Descrizione Prova:</b></label>
    <textarea placeholder="Inserire descrizione della prova" name="descrizione" rows="4" cols="50" required></textarea><br>
    <label for="durata" style="white-space: nowrap; width: 150px;"><b>Durata Prova</b></label>
    <input type="text" placeholder="Inserire durata della prova" name="durata" required>
    <label for="tipoProva" style="white-space: nowrap; width: 150px;"><b>Tipologia Prova</b></label>
    <input type="text" placeholder="Inserire tipologia della prova" name="tipoProva" required>
    <label for="completo"><b>Completo</b></label>
    <input type="checkbox" name="completo" required>
    <label for="dataprova" style="white-space: nowrap; width: 150px;"><b>Data Prova</b></label>
    <input type="datetime-local" name="dataprova" required>
    <label for="datascadenza" style="white-space: nowrap; width: 150px;"><b>Data Scadenza</b></label>
    <input type="datetime-local" name="datascadenza" required>
    <label for="richiestoSuperamentoCodProva" style="white-space: nowrap; width: 150px;"><b>Richiesto Superamento</b></label>
    <input type="text" placeholder="Inserire codice prova richiesta per attuare l'esame" name="richiestoSuperamentoCodProva">
    <br>
    <button type="submit" class="btn">Aggiungi</button>
    <button type="button" class="btn cancel" onclick="closeForm('provaform')">Annulla</button>
</form>



    
    {%endblock%}