{% extends "base.html"%}
    {%block menu%}
        
    {%endblock%}
    {%block title%}
        <h1> {{value}}</h1>
    {%endblock%}
    {%block content%}
    <head>  
        <link rel="stylesheet" href="{{url_for('static', filename='calendarjs.css')}}" />
        <script src="{{url_for('static', filename='calendarjs.js')}}"></script>
    </head>

    <body>
        
        <div class="contents">
            <center>
                <div id="myCalendar" style="max-width: 800px;">
                <p>Some data that should be cleared.</p>
                </div>
                <br>
                <form method="POST" action="">
                    <div class = "form">
                        <h2>Aggiungi prenotazione :</h2>
                        <br>
                        codice corso <input type = "text" name = "codicecorso" /> <br>
                        codice aula <input type = "number" name = "codiceaula" /> <br>
                        massimo di persone <input type = "number" name = "maxpresenti" /> <br>
                        data-inizio <input type = "datetime-local" name = "datainizio" /> <br>
                        durata <input type = "datetime-local" name = "durata" /> <br>
                        online <input type = "checkbox" name = "online" /> <br>
                        <input type = "submit">    
                    </div>
                </form>
            </center>
			
		   
            </div>
        
    </body>


    {%endblock%}