{% extends "base.html"%}
    {%block menu%}
    <a href="user">Indietro</a>

    {%endblock%}
    {%block title%}
        <h5> Queste sono le prove a cui puoi iscriverti:</h5>
    {%endblock%}
    {%block content%}
    <head>  
        <link rel="stylesheet" href="{{url_for('static', filename='calendarjs.css')}}" />
        <script src="{{url_for('static', filename='calendarjs.js')}}"></script>
    </head>

    <body>
        <div class="contents">
            <center>
                {% if pronatazioni %}
                <table class="table table-striped">
                    <tr>
                      <th> codProva </th>
                      <th> esame </th>
                      <th> docenteReferente </th>
                      <th> tipoProva </th>
                      <th> dataProva </th>
                      <th>  dataScandenza </th>
                      
                    </tr> 
                    <tbody  class id="ProveID"> 
                    </tbody>
                </table><br>
                <center>
                <button class="open-button" onclick="openForm('userform')">Iscriviti a prova</button>
                <div class="form-popup" id="userform" >
                    <form method="POST" class="form-container" name="userform">
                        <label for="codProva"><b>codProva</b></label><br>
                        <input type="text" placeholder="Inserire codice corso" name="codProva" required>
                        <br>  
                        <button type="submit"  class="btn">Aggiungi</button>
                        <button type="button" class="btn cancel" onclick="closeForm('userform')">Close</button>
                    </form>
                </div>
            </center>
                {% else %}
                <p>Nessuna prova in programma al momento.<br>
                Aspetta che qualche professore aggiunga esami a cui iscriversi.</p>
                {% endif %}
                <h5> Risultato prove:</h5>
                {% if subscribed_exams %}
                <table class="table table-striped">
                    <tr>
                      <th> codProva </th>
                      <th> voto </th>
                      <th> studente </th>
                    </tr> 
                    <tbody  class id="IscTab"> 
                    </tbody>
                </table>
                
                {% else %}
                <p>Per il momento non hai superato nessuna prova.</p>
                {% endif %}

            
        </div>
       
    </body>

<script type="text/javascript">
    console.log( " jcorsiii!!" );

    var pronatazioni = decodeHtml('{{pronatazioni}}');
    var jpronatazioni = JSON.parse(pronatazioni);
    //
    //console.log( " jcorsiii!!" + jcorsi);
    //fine variabili
    //chiamate

    

    tab_corsi(jpronatazioni);
    //funzioni  
    function tab_corsi(data){
        console.log( data);
        var table = document.getElementById('ProveID');
        console.log( data[0].codprova);
        for (var i = 0; i < data.length; i++){
        var row = `<tr>
                    <td>${data[i].codprova}</td>
                    <td>${data[i].nomeprova}</td>
                    <td>${data[i].docentereferente}</td>
                    <td>${data[i].dataprova}</td>
                    <td>${data[i].tipoprova}</td>
                    <td>${data[i].datascandenza}</td>
                  </tr>`
        
        table.innerHTML += row


        }  
    }

    function decodeHtml(html) {
            var txt = document.createElement("textarea");
            txt.innerHTML = html;
            return txt.value;
    }


</script>
    
{%endblock%}