{% extends "base.html"%}
    <a href="javascript:history.back()">Indietro</a>
{%block menu%}
{%endblock%}
{%block title%}
{%endblock%}

{% block content %}
    
    <form method="POST" action="">
        <div>
            <center>
    <center>
    <h2>Inserire dati personali</h2>
    <form action="/submit_form" method="POST">
        <label for="email"> Email </label><input type="text" name="email" required /> <br>
        <label for="Password">Password </label><input type="password" name="password" required /><br>
        8 char 1 num 1 UpperC 1 LowerC</br>
        <br>
        <label for="Conferma Password">Conferma </label><input type="password" placeholder="Conferma Password"required /> <br>
        <label for="Codice Fiscale">Codice fiscale</label> <input type="text" name = "cpassword" required /> <br>
        <label for="Nome">Nome </label><input type="text" name="fname" required /> <br>
        <label for="Cognome">Cognome </label><input type="text" name="lname" required /> <br>
        <label for="Età"> Età </label><input type="number" name="age" required /> <br>
        Sesso:<br>
        
        <input type="radio" id="male" name="sex" value="0" required> Maschio<br>
        
        <input type="radio" id="female" name="sex" value="1"> Femmina <br>
        <input type="radio" id="notspe" name="sex" value="1"> Non Specificato<br>
        Numero di telefono <input type="tel" name="phone" /> <br>
        <br>
        <input type="submit" value="Invia">
    </form>
</center>

        </div> 
    </form>
    
{% endblock %}

  