{% extends "base.html"%}
    {%block menu%}
        <a href="creazioneProve">Crea Prove</a>
        <a href="regVotoProve">Reg Prove</a>
        <a href="creazioneEsami">Crea Esame</a>
        <a href="regEsame">Reg Esame</a>
        <a href="risAppello">Risultati Appello</a>
    {%endblock%}
    {%block title%}
        <h3>Benvenuto, {{current_user.nome}}</h3>
    {%endblock%}
    {%block content%}
    <head>  
        <link rel="stylesheet" href="{{url_for('static', filename='calendarjs.css')}}" />
        <script src="{{url_for('static', filename='calendarjs.js')}}"></script>
    </head>

    <body>
        
        <div class="contents">
            <center>
                <div id="myCalendar" style="max-width: 800px;">
                <p>Some data that should be cleared.</p>
                </div>
                
            </center>
            
            
            </div>
        
    </body>

    

    {%endblock%}