{% extends "base.html" %}

{% block menu %}
<!--<a href="user">Lezioni p1</a> credo si possa eliminare perchè non serve più-->
    <a href="/login/private/professore">Home prof</a>    
{% endblock %}

{%block title%}
    <h5> Registrazione voto prova</h5>
{%endblock%}
{%block content%}

<form method="POST" class="form-container" name="provaform" style="max-width: 600px;">
    <label for="prova" style="white-space: nowrap; width: 150px;"><b>Codice Prova</b></label>
    <input type="text" placeholder="Inserire codice prova" name="prova" required>

    <label for="nomeesame"><b>Voto</b></label>
    <input type="text" placeholder="Inserire voto" name="voto" required>

    <label for=docenteaggiuntivo style="white-space: nowrap; width: 150px;"><b>Studente</b></label>
    <input type="text" placeholder="Inserire studente" name="studente">
    
    <button type="submit" class="btn">Aggiungi</button>
    <button type="button" class="btn cancel" onclick="closeForm('provaform')">Annulla</button>
</form>

{% endblock %}

