{% extends "base.html"%}
    {%block menu%}
    <a href="/login/private/professore">Home prof</a>
    {%endblock%}
        {%block title%}
            <h5>Risultati di tutti gli studenti alle prove:</h5>
        {%endblock%}
        {%block content%}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Studente</th>
                    <th>Prova</th>
                    <th>Voto</th>
                </tr>
            </thead>
            <tbody id="RisID">
            </tbody>
            <!--
                INSERT INTO Risulato_prove (prova, voto, studente)
VALUES
    ('P002', '10', 'CF001'),
    ('P002', '30', 'CF002'),
    ('P002', '20', 'CF003');-->
        {%endblock%}
        <script type="text/javascript">
            var prove = decodeHtml('{{ risultato_prove }}');
            var jris = JSON.parse(risultato_prove);
    
            console.log(jris);
    
            tab_prove(jris);
    
            function tab_prove(data) {
                var table = document.getElementById('RisID');
                for (var i = 0; i < data.length; i++) {
                    var row = `<tr>
                                <td>${data[i].studente}</td>
                                <td>${data[i].prova}</td>
                                <td>${data[i].voto}</td>
                              </tr>`;
                    table.innerHTML += row;
                }
            }
    
            function decodeHtml(html) {
                var txt = document.createElement("textarea");
                txt.innerHTML = html;
                return txt.value;
            }
        </script>
    </center>