{% extends "base.html" %}

{% block menu %}
    <a href="regEsame">Esami</a>
    <a href="iscrProve">Prove</a>
{% endblock %}

{% block title %}
    <h3>Benvenuto, {{ current_user.nome }}!</h3>
{% endblock %}
{% block content %}
    <center>
        <h5>Esami in programma:</h5>
        {% if subscribed_exams %}
        
        <table class="table table-striped">
            <tr>
                <th>Codice</th>
                <th>Materia</th>
                <th>Professore</th>
                <th>Data</th>
                <th>Stato</th>
            </tr>
            {% for esame in subscribed_exams %}
            <tr>
                <td>{{ esame.codEsame }}</td>
                <td>{{ esame.materia }}</td>
                <td>{{ esame.docenteReferente }}</td>
                <td>{{ esame.dataProva }}</td>
                <td>Subscribed</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>Nessun esame in programma al momento.<br>
        Se vuoi iscriverti a qualche esame o prova vai nella sezione <a href="regEsame">Esami</a> o nella sezione <a href="iscrProve">Prove.</a></p>
        
        {% endif %}
        <hr class="white-line">
        <h5>Esami passati:</h5>
        {% if subscribed_exams %}
        <table class="table table-striped">
            <tr>
                <th>Codice</th>
                <th>Materia</th>
                <th>Professore</th>
                <th>Data</th>
                <th>Stato</th>
            </tr>
            {% for esame in subscribed_exams %}
            <tr>
                <td>{{ esame.codEsame }}</td>
                <td>{{ esame.materia }}</td>
                <td>{{ esame.docenteReferente }}</td>
                <td>{{ esame.dataProva }}</td>
                <td>Subscribed</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>Non hai passato ancora nessun esame al momento.</p>
        {% endif %}
    </center>
{% endblock %}
