{% extends "base.html" %}

{% block menu %}
<a href="user">Lezioni p1</a>
    <a href="esami">Esami p2</a>
    <a href="user">Iscrizione Prove</a>


{% endblock %}

{% block title %}
    <h1>Welcome, {{ current_user.nome }}!</h1>
{% endblock %}

<body>
        
    <div class="contents">
        <center>
            <div id="myCalendar" style="max-width: 800px;">
            <p>Some data that should be cleared.</p>
            </div>
            
        </center>
        
        
        </div>
    
</body>


{% block content %}
    <center>
       
        <h2>Subscribed Exams</h2>
        <table class="table table-striped">
            <tr>
                <th>Exam Code</th>
                <th>Subject</th>
                <th>Professor</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
            {% for esame in subscribed_exams %}
            <tr>
                <td>{{ esame.codEsame }}</td>
                <td>{{ esame.materia }}</td>
                <td>{{ esame.docenteReferente }}</td>
                <td>{{ esame.dataProva }}</td>
                <td>Subscribed</td>
            </tr>
            {% endfor %}
        </table>

        <h2>Available Exams for Enrollment</h2>
        <table class="table table-striped">
            <tr>
                <th>esame Code</th>
                <th>Subject</th>
                <th>Professor</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
            {% for esame  in available_exams %}
            <tr>
                <td>{{ esame.codEsame }}</td>
                <td>{{ esame.materia }}</td>
                <td>{{ esame.docenteReferente }}</td>
                <td>{{ esame.dataProva }}</td>
                <td>
                    <form method="POST" action="">
                        <input type="hidden" name="exam_code" value="{{ exam.codEsame }}">
                        <input type="submit" value="Enroll">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </center>
{% endblock %}
