
{% extends "base.html" %}

{% block menu %}
<a href="/login/private/user/esami_prenotati">Lezioni prenotate</a>
<a href="/login/private/user/iscrizione_prove">iscrizione corsi</a>

{% endblock %}

{% block title %}
    <h1>{{ current_user.nome }}'s Dashboard</h1>
{% endblock %}

{% block content %}
    <center>
        <p>Additional information about the lesson can be viewed by hovering over the event on the calendar.</p>
        <button class="open-button" onclick="openForm('userform')">Add Reservation</button>
        <div class="form-popup" id="userform">
            <form method="POST" class="form-container" name="userform">
                <label for="codcorso"><b>Course Code</b></label><br>
                <input type="text" placeholder="Enter course code" name="codcorso" required>
                <br>

                <label for="datainizio"><b>Date and Time</b></label><br>
                <input type="datetime-local" name="datainizio" required>
                <br>
                
                <button type="submit" class="btn">Add</button>
                <button type="button" class="btn cancel" onclick="closeForm('userform')">Close</button>
            </form>
        </div>
    </center>

    <!-- Add any other content specific to this page -->
    <!-- For example, you can display the calendar here -->
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        // Add any JavaScript code specific to this page, if needed

        // Define the functions 'openForm' and 'closeForm' as needed
    </script>
{% endblock %}
